* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #0a2542;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    padding: 2px;
}

main {
    padding: 20px;
}

.controls {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

button {
    padding: 12px 12px;
    background-color: #0b9672;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 9px;
}

button:hover {
    filter: brightness(130%);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #e5e7eb;
}

/* Responsividade */

@media (max-width: 768px) {
    .controls {
        flex-direction: column;
    }

    table {
        font-size: 12px;
    }
}
